ul.react-paginate {
  margin-bottom: 0;
  border-radius: 0.25rem;
  padding: 0 0.25rem !important;
}

.pagination {
  li.page-item {
    a.page-link {
      color: var(--black);
      background-color: var(--background);
      align-items: center;
      border-color: var(--card-border-color);
      border-radius: 0.25rem;
      margin-left: 6px;
      line-height: inherit;
      transition: all 0.1s ease-in-out;
      font-size: 0.933rem !important;
      [data-theme='dark'] & {
        background-color: var(--black-900);
      }

      // Efek saat hover/focus
      &:hover,
      &:focus,
      &:focus-visible {
        outline: none;
        border-color: var(--primary);
        box-shadow: none;
      }
    }

    &.active a.page-link {
      z-index: 2;
      color: #fff;
      background-color: var(--primary);
      border-color: var(--primary);
      padding-left: 1rem !important;
      padding-right: 1rem !important;

      // Hindari box-shadow dobel saat aktif
      &:hover,
      &:focus,
      &:focus-visible {
        box-shadow: none;
        outline: none;
      }
    }

    &.disabled {
      .page-link {
        color: #c2c2c2 !important;
        background-color: transparent !important;
        border-color: transparent;
        box-shadow: none;
      }
    }
  }

  span.page-link {
    line-height: 1.4;
  }
}

.simple-pagination {
  .page-item:not(.active):not(:first-child):not(:last-child) {
    display: none !important;
  }
}
